<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/breadloaf.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <!-- menu -->
  <div id="mainNav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>

      <a class="navbar-item" routerLink="users">Users</a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/profile">Profile</a>
      <div class="navbar-item">
        <div class="buttons">


          <app-login class=""></app-login>

        </div>

      </div>

    </div>
  </div>


</nav>