/* You can add global styles to this file, and also import other style files */

.content {
  padding: 2vh 2vw;
  //align-items: center;
  justify-content: center;
  text-align: center;
}

pre {
  text-align: left;
}
